<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Index</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="shortcut icon" type="image-x/png" href="https://www.thymeleaf.org/doc/images/thymeleaf.png">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<style type="text/css">
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background-attachment: fixed;
    background-color: #0D1117;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}

/*estilizando a scrollbar*/
body::-webkit-scrollbar-track{background: rgb(86, 84, 84)}
body::-webkit-scrollbar{width: 6px;background: #ef0f0f}
body::-webkit-scrollbar-thumb{background-color: rgb(0, 255, 195)}
</style>
</head>
<body>

	<!-- logout aqui -->
	<a style="
		float: right;
		color: orange;
		font-size: 40px;
		" href="/logout">Deslogar</a>

	<h1>Hello World!</h1>
	
	<div style="font-size: 30px;">
		<a href="/carregarIndex">cadastrar-se</a>
		<br>
		<a href="/admin/cadastroPessoa">cadastrar pessoa</a>
	</div>
	
	
	<h1>voce tem acesso a:
		<span sec:authorize="hasRole('ROLE_USER')">Usuário</span>
		<span sec:authorize="hasRole('ROLE_ADMIN')">Admin</span>
	</h1>
	
	
	
	
	<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>